src/Serilog.Settings.Xml/serilog.xml.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="serilog">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="using">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="add">
                                <xs:complexType>
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="enrich">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="enricher">
                                <xs:complexType>
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="properties">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="property">
                                <xs:complexType>
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                    <xs:attribute name="value" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="minimumLevel">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="override">
                                <xs:complexType>
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                    <xs:attribute name="level" type="loggingLevel" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="default" use="required" type="loggingLevel" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="writeTo">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="sink">
                                <xs:complexType>
                                    <xs:sequence minOccurs="0">
                                        <xs:element name="arg">
                                            <xs:complexType>
                                                <xs:attribute name="name" type="xs:string" use="required" />
                                                <xs:attribute name="value" type="xs:string" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="auditTo">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="sink">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="arg">
                                            <xs:complexType>
                                                <xs:attribute name="name" type="xs:string" use="required" />
                                                <xs:attribute name="value" type="xs:string" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="loggingLevel">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Verbose" />
            <xs:enumeration value="Debug" />
            <xs:enumeration value="Information" />
            <xs:enumeration value="Warning" />
            <xs:enumeration value="Error" />
            <xs:enumeration value="Fatal" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>